
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Userlayout.cshtml")
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <h1>Trang Add</h1>
</body>
</html>
