
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorForbidden</title>
</head>
<body>
    <h1>You dont have permission</h1>
</body>
</html>
