table .title{
    font-weight:700;
    font-size:2rem;
}
table{
    margin-top:5%;
}
table tr td{
    text-align:center;
    font-size:1.2rem;
}
span{
    color:red;
}
.container-fluid img {
    width:100%;
    height:400px;
}