
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/AdminLayout.cshtml")

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <h1>Trang Edit</h1>
</body>
</html>
